.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1, .5, .8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.bounce-enter-active {
    animation: flip-in .25s;
}

.bounce-leave-active {
    animation: flip-out .25s;
}

@keyframes flip-in {
    0% {
        transform: scale(.1) translateX(-1000px);
        opacity: 0;
    }

    50% {
        opacity: .35;
    }

    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes flip-out {
    100% {
        transform: scale(.1) translateX(1000px);
        opacity: 0;
    }

    50% {
        opacity: .35;
    }

    0% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

.pto-list-item {
    transition: all 1s;
}

.pto-list-enter, .pto-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.container {
    transition: all .5s ease;
    min-height: 100vh;
}

#pto-calendar > div > div.calendar-header > div.header-center > span.title {
    font-size: 2em;
}

.bg-dark {
    background-color: #212620 !important;
}

body {
    font-family: 'Libre Franklin', sans-serif !important;
    background-image: url(/src/assets/images/gears.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: height 1s;
}
button, textarea, input{
    font-family: 'Libre Franklin', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, a, span, label{
    font-family: 'Oswald', sans-serif !important;
}

#navbarColor03
> ul > li > a {
    font-size: 1.5em;
    margin-right: 20px;
    color: white;
}

.container {
    background-color: white;
}

#page {
    padding: 3%;
}

label {
    font-size: 1.3em !important;
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu
> li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a, .dropdown-menu > .active
> a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.dropdown-menu > .disabled > a, .dropdown-menu
> .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}

.dropdown-menu
> .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open
> a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right
> .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret, .navbar-fixed-bottom .dropdown
.caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .navbar-right
.dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

table {
    font-size: 1em !important;
}

tr {
    font-weight: 700 !important;
}

.prev-month, .next-month {
    font-size: 3.2em !important;
}

.event {
    font-size: 1em !important;
    font-weight: 700 !important;
    padding: 0 !important;
    height: auto !important;
    line-height: inherit !important;
    white-space: inherit !important;
    margin: 2px auto !important;
    overflow: visible !important;
    color: white !important;
    background-color: transparent !important;
    /* font-size: 12px; *//* margin-bottom: 2px; *//* color: rgba(0,0,0,.87); *//*
padding: 0 0 0 4px; *//* height: 18px; *//* line-height: 18px; *//* white-space:
nowrap; *//* overflow: hidden; *//* text-overflow: ellipsis; *//* background-color:
#d4dcec; *//* margin-left: 4px; */
}
